

ul {
    padding:0;
    margin:0;
}

li {
    list-style: none;
}



.reservation-info {
    width: 100%;
    margin-top: 30px;
    padding: 0 10px;
    box-sizing:border-box;
}

.reservation-info ul {
    display: flex;
    flex-direction: column;
}


.reservation-info li {
    display: flex;
    padding-bottom: 8px;
    padding-top: 8px;
}

.reservation-info  li span {
    text-align: center;
    font-size: 0.7em;
    flex-grow: 1;
    padding-top:10px;
    padding-bottom: 10px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
    
  
}

.reservation-info  li span:nth-child(1) {
    text-align: center;
    flex-basis: 10%;
    background-color: rgba(128,128,128,0.5);
    border-left: 1px;
    border-radius: 10px 0 0 10px;
}


.reservation-info  li span:nth-child(2) {
    text-align: center;
    flex-basis: 90%;
    background-color: white;
    border-right: 1px;
    border-radius: 0 10px 10px 0;
}

@media screen and (max-width:767px) {
    .reservation-info {
        padding:0;
    }

    .reservation-info li span {
        font-size: 0.8em;
    }

    .reservation-info li span:nth-child(1){
        flex-basis: 20%;
    }
    
    .reservation-info li span:nth-child(2){
        flex-basis: 80%;
    }
    
}