       
        section h2 {
            font-size: 24px;
          }
      
          hr {
            margin: 12px 0;
          }
      
        
          /*메인 영역*/
          .main-first-visible {
          
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto;
            height: 500px;
            position: relative;
            overflow: hidden;
           background-color: #fff5eb;
            z-index: 1;
        
          }

          
          
          
          .main-first-visible-bgd{
            
            width: 50%;
            height: 100%;
            float: left;
            z-index: 2;
            background-image: url("../../images/main_img.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
              
  
  
          }



          .main-first-visible-logo {
            width: 25%;
            height: 100%;
            float: left;
            z-index: 2;
            background-image: url("../../images/icon.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto auto;

          }

            .main-first-visible-intro {
            width: 25%;
            height: 100%;
            float: left;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            
          }
            .main-first-visible-intro h1{
              font-family: 'batang';
              font-weight: 200;
            }

            @media screen and (max-width: 767px) {
              .main-first-visible {
                height: auto;
              }
              .main-first-visible-bgd {
               
                width: 100%;
                float:none;
                height: 400px;
              }
              .main-first-visible-logo {
                display: none;
              }
              .main-first-visible-intro {
                width: 100%;
                height: 100%;
                float:none;
              }
              .main-first-visible-intro h1{
                font-weight: 400;
              }

            

            }

  
  
          .main-introduce {
            display: flex;
            position: relative;
            width: 100%;
            height: 250px;
            align-items: center;
          }
  
          .main-introduce div {
            width: 100%;
            height: auto;
            margin: 0 auto;
            position:absolute;
            text-align: center;
            font-family: 'batang';
            font-weight: bold;
          }
  
  
          .logo-between {
            width: 100px;
            height: 50px;
            padding-top: 20px;
            margin: 0 auto;
       
          }
  
          /*content1 area. 룸 정보 슬라이드, 간단한 소개 등 포함*/
          .content01 {
            display: block;
            position: relative;
            width: 100%;
            height: 1000px;
            background-color: #fff5eb;
            font-family:'batang';
  
          }
  
          .content01 .explainarea {
            position: relative;
            width: 100%;
            height:240px;
            padding: 0 15px;
            box-sizing: border-box;
           
            text-align: center;
          }
  
  
          .content01 .showarea {
            display: block;
            position: relative;
            padding-top: 20px;
            width: 100%;
            height: 430px;
          }
  
    
  
          .content01 .show-box {
            display: block;
            position: absolute;
            width: 430px;
            height: 100%;
            left:50%;
            margin-left: -215px;
            /*background-color: aqua;*/
          }
  
  
          .content01 .button-area {
            position: relative;
            float:left;
            width: 15%;
            height: 100%;
            /*background-color: red;*/
  
          }

 
  
          .content01 .showbutton-prev {
            position: absolute;
            width:60px;
            height:60px;
            top:50%;
            left: 50%;
            padding: 0;
            margin-top:-30px;
            margin-left: -30px;
            border: 0;
            background-image:url("../../icons/free-icon-back-button-7893865.png");
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: contain;
          }

          .content01 .showbutton-prev:hover {
            border: 1.5px solid gray;
            border-radius: 15px;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.2s;

          }

           .content01 .showbutton-prev:active {
            border: 1.5px solid black;
            border-radius: 15px;

          }
  
          .content01 .showslide-list {
            position: relative;
            float: left;
            width: 70%;
            height: 100%;
          }
  
          .content01 .showslide-image {
            height: 65%;
            width: 100%;
            background-image: url("../../images/room601.png");
            background-repeat: no-repeat;
            background-size: 100%;
  
  
          }
  
          .content01 .showslide-txt {
            height: 35%;
            width: 100%;
            margin-top: 10px;
            padding:5px ;
            border: 0.5px solid black ;
            border-radius: 8px;
            box-sizing: border-box;
            text-align: center;
            overflow-y: auto;
          }
  
  
  
          .content01 .showbutton-next {
            position: absolute;
            width:60px;
            height:60px;
            padding: 0;
            top:50%;
            left:50%;
            margin-top: -30px;
            margin-left: -30px;
            background-image: url("../../icons/free-icon-next-button-7893857.png");
            background-color: transparent;
            background-repeat: no-repeat;
            border: 0;
            background-size: contain;
  
          }

           .content01 .showbutton-next:hover {
            border: 1.5px solid gray;
            border-radius: 15px;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.2s;

          }

           .content01 .showbutton-next:active {
            border: 1.5px solid black;
            border-radius: 15px;

          }

          @media  (max-width:767px) {
            .content01 .show-box {
              width: 100%;
              margin-left: -50%;
            }

            .content01 .button-area {
              width: 20%;
            }
            .content01 .showslide-list {
              width: 60%;
            }
            
          }


          .content02 {
            position: relative;

            width: 1440px;
            margin:0 auto;
            margin-top: 150px;
            margin-bottom: 150px;
            padding: 0 20px 0 20px;

          

            display: flex;
            flex-wrap: wrap;
            gap:50px;
            overflow: hidden;
            font-family: 'batang';

          }

          .content02 div {
            flex: 1 1 0;

            padding: 15px 10px ;
            border:1px solid rgba(0, 0, 0, 0.3);
            border-radius:20px;

            text-align: center;

          }

           .content02 h3 {
            margin-top:0;
            padding-bottom: 3px;
            border-bottom: 5px solid #fff5eb;
           }

           .content02 p {
            margin: 0 ;
            
           }

           @media  screen and (max-width:767px) {
            .content02 {
              width: auto;
              flex-direction: column;
              margin-top: 100px;
            }
           }


          /*두번재 콘텐츠(공지사항, 이벤트)*/

          .content03 {
            position: relative;
            width: 960px;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 50px;
          }

          .headline {
            position: relative;
            width: 100%;
            margin:0;
            margin-bottom: 30px;
            padding:0px;
            padding-left: 8px;
            border-left: 4px solid antiquewhite;
          }

          .addtional-link {
            position:absolute;
            right:0;
            top:0;
            padding-right: 10px;
          }

          .addtional-link a {
            text-decoration: none;
            color:black;
          }

          .addtional-link a:hover {
            text-decoration:underline;
          }

          .announce {
            width: 100%;
            border-top:1px solid black;
            display: flex;
            flex-direction: column;
            margin:0;
            margin-bottom: 30px;
            padding:0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .announce li {
            list-style: none;
            padding:15px 0;
            border-bottom: 1px solid rgba(128, 128, 128, 0.5);

          }

          .announce li:hover {
            text-decoration: underline;
          }

          @media screen and (max-width:767px) {
            .content03 {
              width: auto;
              padding-left: 10px;
              padding-right: 10px;
             
            }

            .announce {
              margin-bottom: 100px;
            }

            
          }
  
  